<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">

    <link rel="stylesheet" href="./public/css/index.css">

    <title>WEconnect | profile</title>
</head>

<body>

    <body>
        <header class="container-fluid" id="header">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div id="logodiv">
                    <h1 id="logoheader">
                        <span id="logo">WE</span>Connect
                    </h1>
                </div>
                <button class="navbar-toggler bg-danger" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon "></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <ul class="navbar-nav ml-auto float-sm-right float-md-right float-lg-right">
                        <li class="nav-item">
                            <a href="registerbusiness.html" class="nav-link">
                                Join Business
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <section>
            <div class="">
                <img src="./public/img/andelapic.jpg" class="img-fluid profile-bg-pic" alt="Responsive image">
            </div>
        </section>

        <section>
            <div class="row">
                <div class="col-sm-12 col-md-2 col-lg-2 p-5" style="background-color:#3d003f;">
                    <ul class="nav flex-column sticky-top">
                        <li class="nav-item">
                            <a class="nav-link active" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="catalog.html">Catalog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">log in</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="signup.html">signup</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#review">Review</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#feedback">Feedback</a>
                        </li>
                    </ul>
                </div>

                <div class="col-sm-12 col-md-10 col-lg-10 pt-5">
                    <h1>Business Profile</h1>
                    <hr>
                    <div class="row">
                        <div class="container col-lg-3 col-md-5">
                            <div class="text-center">
                                <p>Owner's Name: Daniel Adek</p>
                                <p>Email: maildaniel@gmail.com</p>
                                <p>Company's Name: Lorem</p>
                                <p>Company's Address: Lore</p>
                                <p>Coountry of HeadQuarter: Lorem</p>
                                <p>State: Lorem</p>
                                <p>Current Star: *****</p>
                            </div>
                        </div>
                        <div class="container-fluid col-lg-9 col-md-7">
                            <hr>
                            <div class="text-center">
                                <h3 id="product">Products And Services</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla consequatur tempore sapiente.
                                    Laboriosam pariatur facilis repellat officia quia repellendus sequi placeat facere illum
                                    illo cumque, alias molestias sunt magni veniam!</p>
                                <br>
                                <h3 id="current">Currrent Status</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla consequatur tempore sapiente.
                                    Laboriosam pariatur facilis repellat officia quia repellendus sequi placeat facere illum
                                    illo cumque, alias molestias sunt magni veniam!</p>
                                <br>
                                <h3 id="prices">Prices</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    <strong>$3000.5</strong> Nulla consequatur tempore sapiente. Laboriosam pariatur facilis
                                    <strong>$7000</strong> repellat officia quia repellendus sequi placeat facere
                                    <strong>$1000</strong> illum illo cumque, alias molestias sunt magni veniam!</p>
                                <br>
                                <h3 id="award">Awards, Certification, and Testimonials</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla consequatur tempore sapiente.
                                    Laboriosam pariatur facilis repellat officia quia repellendus sequi placeat facere illum
                                    illo cumque, alias molestias sunt magni veniam!</p>
                                <br>
                                <h3 id="safty">Safety, health, and environmental policies</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla consequatur tempore sapiente.
                                    Laboriosam pariatur facilis repellat officia quia repellendus sequi placeat facere illum
                                    illo cumque, alias molestias sunt magni veniam!</p>
                            </div>
                        </div>
                    </div>
                    <div id="review" class="mt-4">
                        <h2>Reviews From Users</h2>
                        <hr>
                    </div>
                    <div class="card-deck">
                        <div class="card">
                            <img class="card-img-top" src="./public/img/andelapic.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Andrew Joe</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid esse exercitationem beatae?
                                    Delectus, quidem. Debitis eos assumenda atque, animi, velit esse dignissimos quisquam
                                    qui quos reprehenderit praesentium eligendi a magni?.</p>
                                <p class="card-text">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="./public/img/toyo.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Toyosi</h5>
                                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor, quis provident neque veniam
                                    nihil aliquam! Recusandae molestiae aperiam voluptatibus facilis facere, architecto sed
                                    quasi voluptatum accusamus velit amet perferendis iusto?</p>
                                <p class="card-text">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="./public/img/iiim.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">John Mark</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam vitae voluptas non hic?
                                    Quidem sed voluptas doloremque corrupti praesentium enim eligendi aut nisi, numquam ducimus
                                    cupiditate! Labore perferendis distinctio quos!.</p>
                                <p class="card-text">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <form>
                        <div class="form-group">
                            <h3 class="mt-4" id="feedback">Send Feedback</h3>
                            <!-- <label for="exampleFormControlTextarea1">Feedback</label> -->
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <button type="button" class="btn btn-info">Send</button>
                    </form>
                </div>
            </div>
        </section>

        <footer class="footer mt-5 h-15 pb-3">
            <div class="container pt-5">
                <ul class="link">
                    <li class="d-flex justify-content-center">
                        <a href="#" class="text-light facebook mr-1">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="#" class="text-light twitter mr-1">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="#" class="text-light instagram mr-1">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                        <a href="#" class="text-light envelope">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="container d-flex justify-content-center">
                <h5 class="text-center mb-0 text-light">
                    WEConnect by Daniel Adekunle, copyright &copy; 2018. All rights reserved.
                </h5>
            </div>
        </footer>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    </body>

</html>