<!doctype html>
<html lang="en">

<head>
    <!-- ==============Required meta tags============ -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- ==============Bootstrap CSS =================-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
    <!--=========== Plain CSS===========-->
    <link rel="stylesheet" href="./public/css/index.css">
    <title>WEconnect | Catalog </title>
</head>

<body>
    <!--============Header content ========-->
    <header class="container-fluid" id="header">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div id="logodiv">
                <h1 id="logoheader">
                    <span id="logo">WE</span>Connect
                </h1>
            </div>
            <button class="navbar-toggler bg-danger" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav ml-auto float-sm-right float-md-right float-lg-right">
                    <li class="nav-item">
                        <a class="nav-link " href="index.html">Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger" href="catalog.html">Catalog
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="signup.html" class="nav-link">
                            Sign Up
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="registerbusiness.html" class="nav-link">
                            Join Business
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!--========= main content ======== -->
    <section class="catalogbackground">
        <div class="pt-5 mb-5">
            <div class=" text-light">
                <h1 id="logoheader" class="text-center display-4">
                    <span class="text-orange display-4">WE</span>Connect You!
                </h1>
            </div>
            <!-- <h1 class="text-center text-light display-4">WEconnect You!</h1> -->
        </div>
        <marquee>
            <p class="text-light">WEConnect is a platfom that connects individuals and businesses together. We promise our best services.
                <strong class="text-danger">Stay connected!.</strong>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ea accusamus minus, provident enim aspernatur animi, ab
                deleniti odio error
                <strong class="text-danger">quasi cupiditate!</strong>
            </p>
        </marquee>
    </section>
    <section class="bg-purple">
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <h2 class="text-light text-center">Hire the best professioners Around You</h2>
            </div>
            <div class="col-lg-8 col-md-7 text-center">
                <form class="form-inline pt-3 form-float-right">
                    <!-- <label class="sr-only" for="inlineFormInputName2">Name</label> -->
                    <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Business">
                    <!-- <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label> -->
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">@</div>
                        </div>
                        <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Location">
                    </div>
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">@</div>
                        </div>
                        <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Category">
                    </div>
                    <!-- <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Category"> -->
                    <button type="submit" class="btn btn-outline-light mb-2">Submit</button>
                </form>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="container">
            <p class="display-4 text-center text-purple">Business Catalog</p>
        </div>
    </section>

    <section>
        <div class="container mt-5">
            <h1>Repairs and Maintenance</h1>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <img class="img-thumbnail" src="./public/img/laptop.jpg" alt="Card image cap">
                    <p class="display-5 text-purple">Repair
                        <a href="businessProfile.html"> view profile</a>
                    </p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <img class="img-thumbnail" src="./public/img/clean.jpg" alt="Card image cap">
                    <p class="display-5 text-purple">Clean
                        <a href="businessProfile.html"> view profile</a>
                    </p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <img class="img-thumbnail" src="./public/img/gen.jpg" alt="Card image cap">
                    <p class="display-5 text-purple">Generator
                        <a href="businessProfile.html"> view profile</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container mt-5">
            <h1>Software Engineers</h1>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <img class="img-thumbnail" src="./public/img/logo.jpg" alt="Card image cap">
                    <p class="display-5 text-purple">T I A
                        <a href="businessProfile.html"> view profile</a>
                    </p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <img class="img-thumbnail" src="./public/img/dev.jpg" alt="Card image cap">
                    <p class="display-5 text-purple">Software Developer
                        <a href="businessProfile.html"> view profile</a>
                    </p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <img class="img-thumbnail" src="./public/img/mark.jpg" alt="Card image cap">
                    <p class="display-5 text-purple">Programmer
                        <a href="businessProfile.html"> view profile</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container mt-5">
            <h1>Events and Entertainment</h1>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <img class="img-thumbnail" src="./public/img/photo.jpg" alt="Card image cap">
                    <p class="display-5 text-purple">Photographer
                        <a href="businessProfile.html"> view profile</a>
                    </p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <img class="img-thumbnail" src="./public/img/texas.jpg" alt="Card image cap">
                    <p class="display-5 text-purple">Event Management
                        <a href="businessProfile.html"> view profile</a>
                    </p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <img class="img-thumbnail" src="./public/img/catering.jpg" alt="Card image cap">
                    <p class="display-5 text-purple">Catering
                        <a href="businessProfile.html"> view profile</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container mt-5">
            <h1>Health and Wellness</h1>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <img class="img-thumbnail" src="./public/img/face.jpg" alt="Card image cap">
                    <p class="display-5 text-purple">Facial Treatment
                        <a href="businessProfile.html"> view profile</a>
                    </p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <img class="img-thumbnail" src="./public/img/makeup.jpg" alt="Card image cap">
                    <p class="display-5 text-purple">Makeup Artist
                        <a href="businessProfile.html"> view profile</a>
                    </p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <img class="img-thumbnail" src="./public/img/massage.jpg" alt="Card image cap">
                    <p class="display-5 text-purple">Massage Treatment
                        <a href="businessProfile.html"> view profile</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container mt-5 mb-3">
            <hr>
            <h1 class=" text-center text-purple">What Our Users Are Saying</h1>
        </div>
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <img class="img-thumbnail" src="./public/img/parker.jpg" alt="Card image cap">
                    <p class="display-5 text-purple">Peter Parker</p>
                    <p class="text-purple text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit exercitationem fugit debitis sapiente
                        incidunt eos nesciunt architecto eius rerum asperiores ea deserunt reiciendis facilis, ipsa fuga
                        culpa, maiores suscipit repudiandae?</p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <img class="img-thumbnail" src="./public/img/brad.jpg" alt="Card image cap">
                    <p class="display-5 text-purple">Brad Pitt</p>
                    <p class="text-purple text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore, at laudantium eveniet fugit repudiandae
                        aliquid. Maiores expedita placeat totam quo aut corporis id, illum iure commodi, minus vitae eos
                        architecto!
                    </p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <img class="img-thumbnail" src="./public/img/julia.jpg" alt="Card image cap">
                    <p class="display-5 text-purple">Julia Montes</p>
                    <p class="text-purple">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis perferendis vero quam consequuntur
                        mollitia! Maiores, necessitatibus a dicta nulla labore porro eveniet odio veritatis perferendis iure
                        quibusdam. Impedit, consequuntur nam!</p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container mt-5 mb-3">
            <hr>
            <h1 class=" text-center text-purple">What Our Businesses Are Saying</h1>
        </div>
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <img class="img-thumbnail" src="./public/img/toyo.jpg" alt="Card image cap">
                    <p class="display-5 text-purple">Toyo | Olayode Juliana</p>
                    <p class="text-purple text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit exercitationem fugit debitis sapiente
                        incidunt eos nesciunt architecto eius rerum asperiores ea deserunt reiciendis facilis, ipsa fuga
                        culpa, maiores suscipit repudiandae?</p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <img class="img-thumbnail" src="./public/img/markz.jpg" alt="Card image cap">
                    <p class="display-5 text-purple ">Mark Zuckerberg</p>
                    <p class="text-purple text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore, at laudantium eveniet fugit repudiandae
                        aliquid. Maiores expedita placeat totam quo aut corporis id, illum iure commodi, minus vitae eos
                        architecto!
                    </p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <img class="img-thumbnail" src="./public/img/tolu.jpg" alt="Card image cap">
                    <p class="display-5 text-purple">Tolulope</p>
                    <p class="text-center text-purple">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis perferendis vero quam consequuntur
                        mollitia! Maiores, necessitatibus a dicta nulla labore porro eveniet odio veritatis perferendis iure
                        quibusdam. Impedit, consequuntur nam!</p>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer mt-5 h-15 pb-3">
        <div class="container pt-5">
            <ul class="link">
                <li class="d-flex justify-content-center">
                    <a href="#" class="text-light facebook mr-1">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="text-light twitter mr-1">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="text-light instagram mr-1">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="text-light envelope">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="container d-flex justify-content-center">
            <h5 class="text-center mb-0 text-light">
                WEConnect by olorunwa lawrence, copyright &copy; 2018. All rights reserved.
            </h5>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>