<!doctype html>
<html lang="en">

<head>
    <!--============ Required meta tags =============-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--============= Bootstrap CSS ===============-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
    <!-- =========== Plain css ======== -->
    <link rel="stylesheet" href="./public/css/index.css">
    <title>WEconnect | Welcome</title>
</head>

<body>
    <!-- =========== Header section ============ -->
    <header class="container-fluid" id="header">
        <!-- === navigation bars === -->
        <nav class="navbar navbar-expand-lg navbar-light">
            <div id="logodiv">
                <h1 id="logoheader">
                    <span id="logo">WE</span>Connect
                </h1>
            </div>
            <button class="navbar-toggler bg-danger" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon "></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav ml-auto float-sm-right float-md-right float-lg-right">
                    <li class="nav-item">
                        <a class="nav-link text-danger" href="index.html">Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="catalog.html">Catalog
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="signup.html" class="nav-link">
                            Sign Up
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="registerbusiness.html" class="nav-link">
                            Join Business
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- ============= main section ============ -->
    <section class="container-fluid" id="backgroundpichomepage">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-7">
                <div id="advert" class="text-primary">
                    <h1>Join WEConnect</h1>
                    <br>
                    <h3>To Bootstrap Your</h3>
                    <h2>Business</h2>
                    <p>Connect You All Arround The World, and helping You grow your business</p>
                    <button class="btn btn-purple text-light">Getting Started</button>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-5 mt-5 p-5">
                <div class="card" id="formsection">
                    <div class="py-5 px-5">
                        <form>
                            <div class="form-group align-item-center">
                                <h3 class="text-center">Login To Your WEConnect Account</h3>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                <marquee behavior="alternate" direction="">
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                </marquee>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Remember Me</label>
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">LOG IN</button>
                            <div>
                                <a href="#">Forget Password?</a>
                            </div>
                            <hr>
                            <div>
                                <p>Have No Account?
                                    <a href="signup.html" style="text-decoration:underline"> Create An Account</a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid pt-5">
            <div class="container text-center pt-3">
                <h1>What We Do</h1>
            </div>
            <div class="row ">
                <div class="col-sm-12 col-md-7 col-lg-7 ml-5 bg-secondary text-light pt-4">
                    <p class="font-weight-bold font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea sint repellendus consequatur. Illo, ipsa,
                        quaerat natus nobis similique velit sapiente provident suscipit itaque inventore animi ducimus iste
                        aperiam autem eum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia architecto fugiat
                        doloremque laboriosam? Quos et, quaerat sint, in unde voluptatibus, sequi architecto accusamus sapiente
                        animi hic ex maxime aperiam voluptatem. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Odit eveniet culpa cum perspiciatis illo rerum exercitationem inventore vitae ad possimus accusamus
                        consequatur voluptates tempora cupiditate sit incidunt id, maxime omnis? Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Delectus nam, quibusdam cupiditate fugiat, voluptatibus accusantium
                        reiciendis cum saepe alias dolor odio, quis et consequuntur impedit minus repudiandae repellendus
                        pariatur. Nesciunt? ; Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni et ducimus
                        facilis delectus ab, accusamus modi exercitationem corrupti tempora laboriosam nisi error voluptatibus
                        vero est quidem reprehenderit, minima obcaecati alias.</p>
                </div>
                <div class="col-lg-3 mb-3 pl-5 mt-5">
                    <img src="https://static.collectui.com/shots/3047419/prescribe-wellness-solutions-page-medium" alt="...">
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <hr id="hr">
    </div>

    <section class="mt-5">
        <div class="container-fluid pt-5">
            <div class="container text-center">
                <h1>Our Vision And Our Mission</h1>
            </div>
            <div class="row mb-5 p-3">
                <div class="col-sm-12 col-md-3 col-lg-3 mr-5">
                    <img src="https://static.collectui.com/shots/4282298/homepage-design-animation-for-blockchain-payment-platform-medium" alt="...">
                </div>
                <div class="col-lg-8 ml-5 pt-5">
                    <p class="font-weight-bold font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea sint repellendus consequatur. Illo, ipsa,
                        quaerat natus nobis similique velit sapiente provident suscipit itaque inventore animi ducimus iste
                        aperiam autem eum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia architecto fugiat
                        doloremque laboriosam? Quos et, quaerat sint, in unde voluptatibus, sequi architecto accusamus sapiente
                        animi hic ex maxime aperiam voluptatem. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Odit eveniet culpa cum perspiciatis illo rerum exercitationem inventore vitae ad possimus accusamus
                        consequatur voluptates tempora cupiditate sit incidunt id, maxime omnis? Lorem ipsum dolor sit, amet
                        consectetur adipisicing elit. Quo possimus quaerat maxime ad commodi optio saepe. Error quaerat modi,
                        illum nam sit dolor unde ipsam! Consequuntur voluptas natus illo laborum! Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit. Corporis recusandae porro, ducimus reiciendis suscipit blanditiis aut
                        voluptatibus quae voluptates nesciunt dolor, numquam nisi quisquam alias? Itaque, architecto id.
                        Iusto, labore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, accusamus voluptatibus
                        aspernatur optio nihil accusantium doloremque tenetur, minus at cupiditate, minima voluptatem sit
                        alias ipsam odio fuga iusto totam est.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- ================= footer ============ -->
    <footer class="footer mt-5 h-15 pb-3">
        <div class="container pt-5">
            <ul class="link">
                <li class="d-flex justify-content-center">
                    <a href="#" class="text-light facebook mr-1">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="text-light twitter mr-1">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="text-light instagram mr-1">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="text-light envelope">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="container d-flex justify-content-center">
            <h5 class="text-center mb-0 text-light">
                WEConnect by olorunwa lawrence, copyright &copy; 2018. All rights reserved.
            </h5>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>